td
{
    border:1px solid black;
    margin-left: 10px;
    text-align:center;
    
}

th
{
    border: 1px solid black;
    background-color: grey; 
    color:white;

}

tr:nth-child(odd){
    background-color: lightgrey;
}


table{
	border-collapse:collapse;
	width:90%;
	height:100%;
	padding:20px;
	border: 1px solid black;
}

.wrapper{
    border:solid black thin;
    padding: 10px;
    margin:10px;
}

#delete{
    background-color:red;
    color:white;
}